# MLflow Configuration
MLFLOW_TRACKING_URI=sqlite:///mlflow.db
MLFLOW_EXPERIMENT_NAME=air-quality-final-model

# API Configuration
API_HOST=0.0.0.0
API_PORT=8000

# Model Configuration
MODEL_NAME=air-quality-no2-predictor
MODEL_STAGE=Production

# Logging
LOG_LEVEL=INFO
