# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# Environment Variables
.env
.env.docker

# MLflow
mlruns/
mlflow.db
mlflow.db-shm
mlflow.db-wal

# Models (ne pas commit les .pkl mais garder le dossier)
models/*.pkl

# Data (ne pas commit les CSV mais garder les .dvc)
data/*.csv
data/*.xlsx

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
